@model Portfolio
<div class="card-body">
    <form  method="post" enctype="multipart/form-data">
        <div class="mb-3 col-md-6">
            <label asp-for="Image" class="form-label">Image</label>
            <input accept="image"
                   class="form-control"
                   type="file"
                   asp-for="FormFile" />
            <span class="text text-danger" asp-validation-for="FormFile"></span>

        </div>
        <div class="mb-3 col-md-6">
            <label asp-for=PortfolioCategoryId class="form-label">Category Id</label>
            <input 
                   class="form-control"
                   type="number"
                   asp-for="PortfolioCategoryId" />
            <span  class="text text-danger" asp-validation-for="PortfolioCategoryId"></span>
        </div>
        @Html.AntiForgeryToken()
        <button type="submit">Save</button>
    </form>
</div>